In [1]:
import pandas as pd

In [2]:
#loading all the datasets
order_report_df = pd.read_excel('Company X - Order Report.xlsx')
pincode_zones_df = pd.read_excel('Company X - Pincode Zones.xlsx')
sku_master_df = pd.read_excel('Company X - SKU Master.xlsx')
courier_invoice_df = pd.read_excel('Courier Company - Invoice.xlsx')
courier_rates_df = pd.read_excel('Courier Company - Rates.xlsx')

In [3]:
order_report_df.head()

   ExternOrderNo            SKU  Order Qty Payment Mode  Item Price(Per Qty.)
0     2001827036  8904223818706          1          COD                   233
1     2001827036  8904223819093          1          COD                   233
2     2001827036  8904223819109          1          COD                   233
3     2001827036  8904223818430          1          COD                   470
4     2001827036  8904223819277          1          COD                   233

In [4]:
order_report_df.shape

(400, 5)

In [5]:
pincode_zones_df.head()

   Warehouse Pincode  Customer Pincode Zone
0             121003            507101    d
1             121003            486886    d
2             121003            532484    d
3             121003            143001    b
4             121003            515591    d

In [6]:
sku_master_df.head()

             SKU  Weight (g)
0  8904223815682         210
1  8904223815859         165
2  8904223815866         113
3  8904223815873          65
4  8904223816214         120

In [7]:
courier_invoice_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,Zone,Type of Shipment,Billing Amount (Rs.)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4

In [8]:
courier_rates_df.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.25,29.5,23.6,13.6,23.6
1,B,0.50,33.0,28.3,20.5,28.3
2,C,0.75,40.1,38.9,31.9,38.9
3,D,1.25,45.4,44.8,41.3,44.8
4,E,1.50,56.6,55.5,50.7,55.5

In [9]:
courier_rates_df.head()

,Zone,Weight Slabs,Forward Fixed Charge,Forward Additional Weight Slab Charge,RTO Fixed Charge,RTO Additional Weight Slab Charge
0,A,0.25,29.5,23.6,13.6,23.6
1,B,0.50,33.0,28.3,20.5,28.3
2,C,0.75,40.1,38.9,31.9,38.9
3,D,1.25,45.4,44.8,41.3,44.8
4,E,1.50,56.6,55.5,50.7,55.5

In [10]:
#checking for the null values

In [11]:
order_report_df.isnull().sum()

ExternOrderNo           0
SKU                     0
Order Qty               0
Payment Mode            0
Item Price(Per Qty.)    0
dtype: int64

In [12]:
pincode_zones_df.isnull().sum()

Warehouse Pincode    0
Customer Pincode     0
Zone                 0
dtype: int64

In [13]:
sku_master_df.isnull().sum()

SKU           0
Weight (g)    0
dtype: int64

In [14]:
courier_invoice_df.isnull().sum()

AWB Code                0
Order ID                0
Charged Weight          0
Warehouse Pincode       0
Customer Pincode        0
Zone                    0
Type of Shipment        0
Billing Amount (Rs.)    0
dtype: int64

In [15]:
courier_rates_df.isnull().sum()

Zone                                     0
Weight Slabs                             0
Forward Fixed Charge                     0
Forward Additional Weight Slab Charge    0
RTO Fixed Charge                         0
RTO Additional Weight Slab Charge        0
dtype: int64

In [16]:
#there is no null value in any dataset

In [17]:
#rename the zone column to zone_x in order_report_df and in courier_invoice_df zone to zone_c

In [18]:
pincode_zones_df.rename(columns={'Zone': 'zone_x'}, inplace=True)

In [19]:
courier_invoice_df.rename(columns={'Zone': 'zone_c'}, inplace=True)

In [20]:
order_report_df.head()

   ExternOrderNo            SKU  Order Qty Payment Mode  Item Price(Per Qty.)
0     2001827036  8904223818706          1          COD                   233
1     2001827036  8904223819093          1          COD                   233
2     2001827036  8904223819109          1          COD                   233
3     2001827036  8904223818430          1          COD                   470
4     2001827036  8904223819277          1          COD                   233

In [21]:
#ExternOrderNo to Order ID

In [22]:
order_report_df.rename(columns={'ExternOrderNo': 'Order ID'}, inplace=True)

In [23]:
#merging the data based on common value

In [24]:
df_merged = pd.merge(order_report_df, sku_master_df, how="left", on="SKU")

In [25]:
df_merged.head()

,Order ID,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g)
0,2001827036,8904223818706,1,COD,233,127
1,2001827036,8904223819093,1,COD,233,150
2,2001827036,8904223819109,1,COD,233,100
3,2001827036,8904223818430,1,COD,470,165
4,2001827036,8904223819277,1,COD,233,350

In [26]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 401 entries, 0 to 400
Data columns (total 6 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Order ID              401 non-null    int64
 1   SKU                   401 non-null    object
 2   Order Qty             401 non-null    int64
 3   Payment Mode          401 non-null    object
 4   Item Price(Per Qty.)  401 non-null    int64
 5   Weight (g)            401 non-null    int64
dtypes: int64(4), object(2)
memory usage: 21.9+ KB

In [27]:
# Create a DataFrame with unique customer pincodes
df_x_pincode_zones = pincode_zones_df.drop_duplicates(subset=['Customer Pincode'])

In [28]:
# Create a DataFrame with selected columns from the courier invoice data
df_x_courier = courier_invoice_df[['Order ID', 'Customer Pincode', 'Type of Shipment']]

In [29]:
# Merge the courier data with the pincode zone data based on customer pincodes
df_x_pincode_zones_merged = df_x_courier.merge(df_x_pincode_zones, on='Customer Pincode')

In [30]:
df_x_pincode_zones_merged.head()

     Order ID  Customer Pincode Type of Shipment  Warehouse Pincode zone_x
0  2001806232            507101  Forward charges             121003      d
1  2001806273            486886  Forward charges             121003      d
2  2001806408            532484  Forward charges             121003      d
3  2001806458            143001  Forward charges             121003      b
4  2001807012            515591  Forward charges             121003      d

In [31]:
df_x_sku_inorder = df_merged.merge(df_x_pincode_zones_merged, on='Order ID')

In [32]:
df_x_sku_inorder.head()

,Order ID,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,zone_x
0,2001827036,8904223818706,1,COD,233,127,173213,Forward charges,121003,e
1,2001827036,8904223819093,1,COD,233,150,173213,Forward charges,121003,e
2,2001827036,8904223819109,1,COD,233,100,173213,Forward charges,121003,e
3,2001827036,8904223818430,1,COD,470,165,173213,Forward charges,121003,e
4,2001827036,8904223819277,1,COD,233,350,173213,Forward charges,121003,e

In [33]:
# Converting weight from grams to kilograms
df_x_sku_inorder['Total Weight Per Shipment (kg)'] = (df_x_sku_inorder['Order Qty'] * df_x_sku_inorder['Weight (g)']) / 1000

In [34]:
df_x_sku_inorder.head()

,Order ID,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,zone_x,Total Weight Per Shipment (kg)
0,2001827036,8904223818706,1,COD,233,127,173213,Forward charges,121003,e,0.127
1,2001827036,8904223819093,1,COD,233,150,173213,Forward charges,121003,e,0.150
2,2001827036,8904223819109,1,COD,233,100,173213,Forward charges,121003,e,0.100
3,2001827036,8904223818430,1,COD,470,165,173213,Forward charges,121003,e,0.165
4,2001827036,8904223819277,1,COD,233,350,173213,Forward charges,121003,e,0.350

In [35]:
#defining the weight slab

In [36]:
def weight_slab(weight):
    return int(weight) + 0.5 if weight % 1 <= 0.5 else int(weight) + 1.0

In [37]:
#For the Weight Slab  column in the df_x_sku_inorder DataFrame:

In [38]:
df_x_sku_inorder['Weight Slab'] = df_x_sku_inorder['Total Weight Per Shipment (kg)'].apply(weight_slab)

In [39]:
#For the 'Weight Slab Charged By Courier Company (KG)' column in the courier_invoice_df DataFrame:

In [40]:
courier_invoice_df['Weight Slab Charged By Courier Company (KG)'] = courier_invoice_df['Charged Weight'].apply(weight_slab)

In [41]:
df_x_sku_inorder.head()

,Order ID,SKU,Order Qty,Payment Mode,Item Price(Per Qty.),Weight (g),Customer Pincode,Type of Shipment,Warehouse Pincode,zone_x,Total Weight Per Shipment (kg),Weight Slab
0,2001827036,8904223818706,1,COD,233,127,173213,Forward charges,121003,e,0.127,0.5
1,2001827036,8904223819093,1,COD,233,150,173213,Forward charges,121003,e,0.150,0.5
2,2001827036,8904223819109,1,COD,233,100,173213,Forward charges,121003,e,0.100,0.5
3,2001827036,8904223818430,1,COD,470,165,173213,Forward charges,121003,e,0.165,0.5
4,2001827036,8904223819277,1,COD,233,350,173213,Forward charges,121003,e,0.350,0.5

In [42]:
courier_invoice_df.head()

,AWB Code,Order ID,Charged Weight,Warehouse Pincode,Customer Pincode,zone_c,Type of Shipment,Billing Amount (Rs.),Weight Slab Charged By Courier Company (KG)
0,1091117222124,2001806232,1.30,121003,507101,d,Forward charges,140.0,1.5
1,1091117222194,2001806273,1.00,121003,486886,d,Forward charges,101.2,1.5
2,1091117222931,2001806408,2.50,121003,532484,d,Forward charges,224.6,2.5
3,1091117223244,2001806458,1.00,121003,143001,b,Forward charges,61.3,1.5
4,1091117229345,2001807012,0.15,121003,515591,d,Forward charges,45.4,0.5

In [43]:
#calculation of expected charge

In [44]:
total_expected_charge = []

for i in range(len(df_x_sku_inorder)):
    zone = df_x_sku_inorder['zone_x'][i].upper()  # Convert to uppercase
    weight_slab_x = df_x_sku_inorder['Total Weight Per Shipment (kg)'][i]
    type_of_shipment = df_x_sku_inorder['Type of Shipment'][i]
    
    fwd_fixed = courier_rates_df.loc[courier_rates_df['Zone'] == zone, 'Forward Fixed Charge'].values[0]
    fwd_additional = courier_rates_df.loc[courier_rates_df['Zone'] == zone, 'Forward Additional Weight Slab Charge'].values[0]
    rto_fixed = courier_rates_df.loc[courier_rates_df['Zone'] == zone, 'RTO Fixed Charge'].values[0]
    rto_additional = courier_rates_df.loc[courier_rates_df['Zone'] == zone, 'RTO Additional Weight Slab Charge'].values[0]

    if type_of_shipment == 'Forward charges':
        if weight_slab_x <= 0.5:
            total_expected_charge.append(fwd_fixed)
        else:
            additional_weight = (weight_slab_x - 0.5) / 0.5
            total_expected_charge.append(fwd_fixed + additional_weight * fwd_additional)
    
    if type_of_shipment == 'Forward and RTO charges':
        if weight_slab_x <= 0.5:
            total_expected_charge.append(fwd_fixed + rto_fixed)
        else:
            additional_weight = (weight_slab_x - 0.5) / 0.5
            total_expected_charge.append(fwd_fixed + additional_weight * (fwd_additional + rto_additional))

df_x_sku_inorder['Expected Charge As Per X (Rs.)'] = total_expected_charge

In [45]:
df_x_sku_inorder.columns

Index(['Order ID', 'SKU', 'Order Qty', 'Payment Mode', 'Item Price(Per Qty.)',
       'Weight (g)', 'Customer Pincode', 'Type of Shipment',
       'Warehouse Pincode', 'zone_x', 'Total Weight Per Shipment (kg)',
       'Weight Slab', 'Expected Charge As Per X (Rs.)'],
      dtype='object')

In [46]:
Output2 = df_x_sku_inorder[['Order ID',
                            'Type of Shipment', 'zone_x',
                            'Total Weight Per Shipment (kg)', 'Weight Slab',
                            'Expected Charge As Per X (Rs.)']]

In [47]:
courier_invoice_df.columns

Index(['AWB Code', 'Order ID', 'Charged Weight', 'Warehouse Pincode',
       'Customer Pincode', 'zone_c', 'Type of Shipment',
       'Billing Amount (Rs.)', 'Weight Slab Charged By Courier Company (KG)'],
      dtype='object')

In [48]:
Output1 = courier_invoice_df[['AWB Code', 'Order ID', 'Charged Weight',
                              'zone_c', 'Billing Amount (Rs.)', 'Weight Slab Charged By Courier Company (KG)']]

In [49]:
df_merged_output = Output2.merge(Output1, on='Order ID', how='left')

In [50]:
df_merged_output.sample(10)

,Order ID,Type of Shipment,zone_x,Total Weight Per Shipment (kg),Weight Slab,Expected Charge As Per X (Rs.),AWB Code,Charged Weight,zone_c,Billing Amount (Rs.),Weight Slab Charged By Courier Company (KG)
190,2001808992,Forward charges,b,0.127,0.5,33.0,1091117611501,0.72,d,90.2,1.0
81,2001812854,Forward charges,b,0.350,0.5,33.0,1091118548333,2.94,d,280.4,3.0
266,2001807852,Forward charges,b,0.240,0.5,33.0,1091117326925,0.74,d,90.2,1.0
122,2001811229,Forward charges,b,0.100,0.5,33.0,1091117957942,0.60,d,93.2,1.0
358,2001806567,Forward charges,d,0.150,0.5,45.4,1091117224902,1.16,d,141.0,1.5
305,2001807058,Forward charges,b,0.113,0.5,33.0,1091117323112,1.15,b,89.6,1.5
103,2001811475,Forward charges,e,0.210,0.5,56.6,1091121844806,0.50,b,47.0,0.5
392,2001806233,Forward charges,b,0.130,0.5,33.0,1091117222135,0.78,b,61.3,1.0
149,2001810125,Forward charges,b,0.133,0.5,33.0,1091117804314,0.66,d,90.2,1.0
316,2001806968,Forward charges,b,0.240,0.5,33.0,1091117229183,0.68,d,90.2,1.0

In [51]:
output1=df_merged_output.copy()

In [52]:
output1 = output1.rename(columns={
    'AWB Code': 'AWB Number',
    'Billing Amount (Rs.)': 'Charges_Billed_By_Courier_Company_Rs',
    'Expected Charge As Per X (Rs.)': 'Expected_Charge_As_Per_X_Rs'
})

In [53]:
output1.head()

,Order ID,Type of Shipment,zone_x,Total Weight Per Shipment (kg),Weight Slab,Expected_Charge_As_Per_X_Rs,AWB Number,Charged Weight,zone_c,Charges_Billed_By_Courier_Company_Rs,Weight Slab Charged By Courier Company (KG)
0,2001827036,Forward charges,e,0.127,0.5,56.6,1091122418320,1.6,b,117.9,2.0
1,2001827036,Forward charges,e,0.150,0.5,56.6,1091122418320,1.6,b,117.9,2.0
2,2001827036,Forward charges,e,0.100,0.5,56.6,1091122418320,1.6,b,117.9,2.0
3,2001827036,Forward charges,e,0.165,0.5,56.6,1091122418320,1.6,b,117.9,2.0
4,2001827036,Forward charges,e,0.350,0.5,56.6,1091122418320,1.6,b,117.9,2.0

In [54]:
#now calculating the differance between the both charge expected one and billed one

In [55]:
output1['Difference'] =output1['Expected_Charge_As_Per_X_Rs'] - output1['Charges_Billed_By_Courier_Company_Rs']

In [56]:
output1.head()

,Order ID,Type of Shipment,zone_x,Total Weight Per Shipment (kg),Weight Slab,Expected_Charge_As_Per_X_Rs,AWB Number,Charged Weight,zone_c,Charges_Billed_By_Courier_Company_Rs,Weight Slab Charged By Courier Company (KG),Difference
0,2001827036,Forward charges,e,0.127,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
1,2001827036,Forward charges,e,0.150,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
2,2001827036,Forward charges,e,0.100,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
3,2001827036,Forward charges,e,0.165,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
4,2001827036,Forward charges,e,0.350,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3

In [57]:
output1.columns

Index(['Order ID', 'Type of Shipment', 'zone_x',
       'Total Weight Per Shipment (kg)', 'Weight Slab',
       'Expected_Charge_As_Per_X_Rs', 'AWB Number', 'Charged Weight', 'zone_c',
       'Charges_Billed_By_Courier_Company_Rs',
       'Weight Slab Charged By Courier Company (KG)', 'Difference'],
      dtype='object')

In [58]:
column_mapping = {
    'AWB Number': 'AWB Number',
    'Total Weight Per Shipment (kg)': 'Total weight as per X (KG)',
    'Weight Slab': 'Weight slab as per X (KG)',
    'Charged Weight': 'Total weight as per Courier Company (KG)',
    'Weight Slab Charged By Courier Company (KG)': 'Weight slab charged by Courier Company (KG)',
    'zone_x': 'Delivery Zone as per X',
    'zone_c': 'Delivery Zone charged by Courier Company',
    'Expected_Charge_As_Per_X_Rs': 'Expected Charge as per X (Rs.)',
    'Charges_Billed_By_Courier_Company_Rs': 'Charges Billed by Courier Company (Rs.)',
    'Difference': 'Difference Between Expected Charges and Billed Charges (Rs.)'
}

In [59]:
#renaming the columns
output1.rename(columns=column_mapping, inplace=True)

In [60]:
output1.head()

,Order ID,Type of Shipment,Delivery Zone as per X,Total weight as per X (KG),Weight slab as per X (KG),Expected Charge as per X (Rs.),AWB Number,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab charged by Courier Company (KG),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,Forward charges,e,0.127,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
1,2001827036,Forward charges,e,0.150,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
2,2001827036,Forward charges,e,0.100,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
3,2001827036,Forward charges,e,0.165,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3
4,2001827036,Forward charges,e,0.350,0.5,56.6,1091122418320,1.6,b,117.9,2.0,-61.3

In [61]:
#removing type of shipment column as it is not required in final output

In [62]:
output1.drop(columns=['Type of Shipment'], inplace=True)

In [63]:
output1

,Order ID,Delivery Zone as per X,Total weight as per X (KG),Weight slab as per X (KG),Expected Charge as per X (Rs.),AWB Number,Total weight as per Courier Company (KG),Delivery Zone charged by Courier Company,Charges Billed by Courier Company (Rs.),Weight slab charged by Courier Company (KG),Difference Between Expected Charges and Billed Charges (Rs.)
0,2001827036,e,0.127,0.5,56.6,1091122418320,1.60,b,117.9,2.0,-61.3
1,2001827036,e,0.150,0.5,56.6,1091122418320,1.60,b,117.9,2.0,-61.3
2,2001827036,e,0.100,0.5,56.6,1091122418320,1.60,b,117.9,2.0,-61.3
3,2001827036,e,0.165,0.5,56.6,1091122418320,1.60,b,117.9,2.0,-61.3
4,2001827036,e,0.350,0.5,56.6,1091122418320,1.60,b,117.9,2.0,-61.3
...,...,...,...,...,...,...,...,...,...,...,...
396,2001806229,d,0.133,0.5,45.4,1091117222080,0.71,d,90.2,1.0,-44.8
397,2001806229,d,0.240,0.5,45.4,1091117222080,0.71,d,90.2,1.0,-44.8
398,2001806226,d,0.480,0.5,45.4,1091117222065,0.68,d,90.2,1.0,-44.8
399,2001806210,b,0.120,0.5,33.0,1091117221940,2.92,b,174.5,3.0,-141.5
400,2001806210,b,0.100,0.5,33.0,1091117221940,2.92,b,174.5,3.0,-141.5

In [64]:
#creating the summary table

In [65]:
import numpy as np

In [66]:
correctly_charged = output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)'] == 0.0]
correctly = ["Total Orders where X has been correctly charged", len(correctly_charged), sum(correctly_charged['Charges Billed by Courier Company (Rs.)'])]

over_charged = output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)'] < 0.0]
over = ["Total Orders where X has been over charged", len(over_charged), np.absolute(sum(over_charged['Difference Between Expected Charges and Billed Charges (Rs.)']))]

under_charged = output1[output1['Difference Between Expected Charges and Billed Charges (Rs.)'] > 0.0]
under = ["Total Orders where X has been under charged", len(under_charged), np.absolute(sum(under_charged['Difference Between Expected Charges and Billed Charges (Rs.)']))]

In [67]:
#creating a DataFrame from the results
output2 = pd.DataFrame([correctly, over, under], columns=['Description', 'Count', 'Amount (Rs.)'])

In [68]:
output2

                                       Description  Count  Amount (Rs.)
0  Total Orders where X has been correctly charged     12      507.6000
1       Total Orders where X has been over charged    382    33044.2672
2      Total Orders where X has been under charged      7      109.2000

In [69]:
# saving to Excel with two workbook as calculation and summary table
with pd.ExcelWriter('Result.xlsx', engine='openpyxl', mode='w') as writer:
    output1.to_excel(writer, sheet_name='Calculations', index=False)
    output2.to_excel(writer, sheet_name='Summary', index=False)